/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 Feb 2025, 5:51:57 pm
    Author     : Sarvesh Kumar
*/

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.top {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    border: 1px dotted gray;
}
.top h1 {
    font-size: 2cm;
}
.bottom {
    display: flex;
}
.left {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.left img {
    height: 200px;
    width: 200px;
}


